header {
    z-index: 2;
    width: 100%;
    height: 7vh;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header div {
    width: auto;
    padding: 0 0 0 2vw;
}

header div a {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
}

header div h3 {
    color: var(--tertiary-color);
    margin: 0;
    }


#navigator {
    width: auto;
    padding: 0 2vw 0 0;
}

ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.link{
    width: 23px;
    height: 23px;
}

#idiomas{
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--secondary-color);

}
#idiomas:hover{
    color: var(--tertiary-color);
    cursor: pointer;
}
#cambiarEstilosBtn {
    width: 22px;
    height: 22px;
    background-image: url('../assets/img/luna.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#cambiarEstilosBtn.activado {
    background-image: url('../assets/img/sol.svg');
    border-radius: 60px;
    background-position: center;
    width: 24px;
    height: 24px;
}

@media (max-width: 1200px) {
    ol{flex-direction: column;
        margin-top: 17vh;
    }
}

@media (max-width: 960px) {
    #navigator{
        margin: 0;
    }

    #cambiarEstilosBtn {
        margin-right: 0px;
    }

}