@import "./standard.css";


body {
    height: 100vh;
}

main {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

section {
    width: 100vw;
    padding: 5vh 20vw 5vh 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#portada{
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#bio, #proyectos, #cards{
    height: 60vh;
}

#bio, #proyectos{
    background-color:var(--quinary-color) ;
}

h1{font-size: 2.2rem;}
h2{font-size: 2.0rem;}


@media (max-width: 1100px){
    h1{
        font-size: 1.7rem;
    };
    #bio, #proyectos, #cards{
        height: auto;
    }
}
