
#portada{
    width: 100vw;
    height: 80vh;
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(5deg, var(--quinary-color) 20%,var(--primary-color) 30%);
}

@media (max-width: 1500px){

    h1{
        font-size: 1.7rem;
    };

    #portada{
        padding: 30vh 20vw 25vh 20vw;
        height: 65vh;
    }
}