
#portada{
    width: 100vw;
    height: 80vh;
    padding: 5vh 15vw 5vh 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(15deg, var(--quinary-color) 20%,var(--primary-color) 20%);
}

@media (max-width: 1500px){

    h1{
        font-size: 1.7rem;
    };

    #portada{
        padding: 30vh 20vw 25vh 20vw;
        height: 65vh;
    }
}

@media (max-width: 1200px){
    #portada{
        background: linear-gradient(25deg, var(--quinary-color) 15%,var(--primary-color) 10%);
  }
}

@media (max-width: 600px){
    #portada{
    padding: 5vh 16vw 5vh 16vw;
    background: linear-gradient(22deg, var(--quinary-color) 15%,var(--primary-color) 10%);
  }
}