#tituloBio{
    width: 100%;
    text-align: center;
    margin-top: -10vh;
    color: var(--secondary-color);
}

#textoperfil{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -10vh;
}

h5{
    color:var(--secondary-color);
    align-content: normal;
    font-size: 1rem;
    &::first-letter {
        font-size: 1.4rem;
    }
}

#textobio1 {    
    &::first-letter {
        font-size: 2.2rem;
        color: var(--tertiary-color);
    }
}



#fotoperfil{
    border-radius: 16px;
    height: 35vh;
    width: 30%;
    border-image: fill 0 linear-gradient(#0001, #000);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)),
    url('./img/cris.jpeg') center/cover;
    margin-top: -10vh;

}


@media (max-width: 1100px) {
    h5 {
        width: 200px;
        font-size: 0.8rem;

        &::first-letter {
            font-size: 1.2rem;
        }
    }

    #textoperfil {
        height: 72vh;
        width: 100%;
        background-color: transparent;
    }


    #fotoperfil{
        width: 100%;
    }

}