@import "./bio.css";
@import "./herramientas.css";
@import "./portada.css";
@import "./proyectos.css";
@import "./header.css";
@import "./animacionHeader.css";
@import "./animacionHola.css";
@import "./animacionTitulo.css";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}


p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--secondary-color);
}

h1{font-size: 2.2rem;}
h2{font-size: 2.0rem;}
h3{font-size: 1.7rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.0rem;}
h6{font-size: 0.9rem;}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #3b3b3b;
    --tertiary-color: #f56a00a2;
    --quinary-color: #eeeeee;
    }
